/*Colors
#F6CDB3  ---  beige
#DC735C  ---  oranje   // tevens de hypertext
#30333F  ---  donkerblauw
#FFFFFF  ---  wit


font     ---  serif
*/

body {
    margin-top: 100px;
	background-color: #30333F;
}
h1, h2, h3, h4, h5, h6, p, a {
    color: #F6CDB3;
    font-family: serif;
}



/*navigation*/
/*
#navigation ul {
list-style-type: none;
margin: 0;
padding: 0;
}

#navigation ul li {
    float: left;  
}

#navigation ul li a {
  display: block;
    color: #fff;
    text-align: center;
  width: 60px;
}
*/

#categories {
    width: 100%;
    height: 100px;
}

#categories ul {
list-style-type: none;
margin: 0;
padding: 0;
}

#categories ul li {
    float: left;  
}

#categories ul li a {
  display: block;
    color: #fff;
    text-align: center;
  width: 60px;
}

#search {
    position: absolute;
    top: 10px;
    right: 10px;
}
#galleryProducts {
    width: 98%;
    padding: 15px 0;
    margin: 0 auto;
     display: inline-block;
}

 .galleryItem {
    width: calc(10% - 30px);
    padding: 15px;
    display: inline-block;
}

 .galleryItem img {
     width: 100px;
 }
.bookitem{
    width: calc(18% - 2em);
    display: inline-block;
	margin: 1em;
    border: 1px solid black;
    padding: 15px;
}
.bookitem .bookcover{
	width: 100%;
    margin: 0 auto;
    display: block;
}

.bookitem .title {
    font-size: 1.5rem;
    color: #F6CDB3;
    margin: 10px 0;
    padding: 0;
    
}

.bookitem > .author, .category {
    color: #DC735C;
    margin: 0;
    padding: 0;
    display: inline-block;
}
